body {
  font-family: gesta,sans-serif;
  font-style: normal;
  font-weight: 300;
}

#header_row {
  position: relative;
  margin-bottom: 10px;
}

#top_links {
  padding: 10px 0;
  border: solid 1px #C0C0C0;
  border-width: 1px 0px;
  margin: 1em 0 1em 0;
}

#top_links a, #top_links a:visited {
  color: black;
  text-decoration: none;
  padding-right: 1em;
}

#header_text {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

h1 {
  margin-bottom: 0;
}

.video_thumb {
  float: left;
  line-height: 1.1em;
  font-size: 11px;
  display: inline;
  overflow: hidden;
  padding-bottom: 1%;
}

.video_thumb img {
  -ms-interpolation-mode: bicubic;
}

.video_title, .video_title a, .video_title a:hover {
  /*margin-bottom: auto ! important;*/
  /*margin-left: 0 ! important;*/
  /*width: 100%;*/
  width: 162px;
  float: left;
  clear: both;
  font-size: 12px;
  font-weight: bold;
}
