---
layout: default
title: "Ignite Baltimore: 16 speakers get 5 minutes to talk to Baltimore"
---

<h2 class="row">Ignite Baltimore #10</h2>

<p class="row">
Ignite Baltimore #10 will be held on 3/15/12 at <a
  href="http://www.mica.edu/browse_art/brown_center.html">MICA's Brown Center</a>. Food, drinks, and mingling
start at 6 pm. First speaker starts at 7 pm. The event is sold out but you can still <a
  href="http://www.eventbrite.com/event/798391009">get on the waiting
  list</a>!</o>

<h2>Ignite Baltimore #10 Speakers</h2>
<ul>
<li>Art of Burning Man - Brady Forrest</li>
<li>Where the embryos come in: stem cells in medicine - Rebecca L. Frederick,
Ph.D.</li>
<li>Socialist Networks - Jason Hardebeck</li>
<li>Engineering Your Metabolism - Melanie Blatt</li>
<li>Objects Without Commodity and Valued Experiences - Tommy P. Doyle and Will
Pierce</li>
<li>Highway to Hell: How highway subsidies destroy America's Cities - Wally
Pinkard</li>
<li>Building Humanist Communities in Baltimore - Emil Volcheck</li>
<li>Happy, Until After - performance by David "Native Son" Ross of the 5th
L</li>
<li>Seize the Days: How Cancer Patients Add Life to Their Days - Evan J. Lipson,
MD</li>
<li>Local material challenge - Inna Alesina</li>
<li>Honey, I shrunk the lab! - Saurabh Paliwal</li>
<li>Hamburgers, "off the grill" - Anisha Jagtap</li>
<li>5 New Philosophers You Would Love to Know About! - Ron Spencer</li>
<li>Cuckoo clocks to conflict: why humanitarian work needs to be redefined! -
Killian Doherty</li>
<li>Collaborative Consumption: The Rise of the Sharing Economy - Nick
Miller</li>
<li>Mouth Trumpet / Ukulele / Vocal Performance - Victoria Vox</li>
</ul>

<h2>Keep In Touch</h2>
{% include social_media.html %}

<h2>Recent Videos</h2>
<div id="video_gallery">
  {% include video_gallery.html %}
</div>

<div class="row">
  <p>Check out more videos on the <a href="http://youtube.com/ignitebaltimore">Ignite Baltimore YouTube channel</a>.</p>
</div>
