---
layout: default
title: "Ignite Baltimore: 16 speakers get 5 minutes to talk to Baltimore"
---

<!--<h2 class="row">Ignite Baltimore #15 Happens in Fall 2014</h2>-->

<h2 class="row">Ignite Baltimore #16 Happens on April 30th at 7 pm at <a href='http://www.mica.edu/browse_art/brown_center.html'>MICA's Brown Center</a></h2>

<!--<p>We will start soliciting <a href="/speaking">speaking proposals</a> in the summer of 2014.</p>-->

<!--<p>Proposals for Ignite #15 are closed. We will notify speakers of their selection on or about 8/14/14.</P>-->

<p class="row">Tickets will go on sale in late March, 2015. Join our <a href="/mailing_list">mailing list</a> to make sure you find out when they are available,
since they sell out quickly.</p>

<!-- <p>Tickets are <a href="http://eventbrite.com/event/12667459713">on sale now</a>.</p>
<p class="row">Doors open at 6 pm for drinks, appetizers, and networking. <strong>Speakers begin at 7 pm.</strong></p> -->

<!--<p>Tickets go on sale for Ignite #12 on or about 2/27/13. We will announce tickets via our mailing list and social media accounts (see below).</p>-->

<!--<p>We will start accepting proposals to speak this summer. Tickets will go on sale in August. Please join our-->
<!--<a href="/mailing_list">mailing list</a> if you'd like to be notified, as we usually sell-out quickly.</p>-->

<!--<h4>Tickets are sold-out</h4>-->
<!--<p>But the <a href="https://www.eventbrite.com/e/ignite-baltimore-14-tickets-10595829411">waiting list is open</a>!</p>-->

<p>We are now accepting proposals to speak at Ignite Baltimore #16. See details at <a href="http://speak.ignitebaltimore.com">speak.ignitebaltimore.com</a>.</p>
<p><strong></strong>Please review our <a href="/speaking">speaker guidelines</a> before applying</strong>. Thanks!</p>

<!-- 
<h4>Ignite Baltimore #15 Speakers</h4>
<ul>
<li>Courage to Code &bull; <a href='http://www.brigittewarner.com/'>Brigitte Warner</a></li>
<li>Education Reimagined &bull; <a href='http://www.digitalharbor.org'>Andrew Coy</a></li>
<li>Meditating (Healthily) on Your Own Death &bull; Steve Intlekofer</li>
<li>Gaining Freedom Without a Car &bull; <a href='http://technosailor.com'>Aaron Brazell</a></li>
<li>Crowdsourced 3D Printing &bull; <a href='http://custom3dstuff.com'>Todd Blatt</a></li>
<li>Rebuilding Baltimore - One House at A Time &bull; Jacob Wittenberg</li>
<li>Why LGBT History Matters &bull; <a href='http://www.sarahprager.com'>Sarah Prager</a></li>
<li>C’mon Ride that Train! -- How the RED LINE could make Charm City better for us All. &bull; <a href='http://www.RodneyBurris.com'>Rodney C. Burris</a></li>
<li>We don't need another inner city African American Male teacher &bull; <a href='http://chipdizard.com'>Chip Dizard</a></li>
<li>What on Earth is a Mainframe? &bull; <a href='http://www.cbttape.org'>Sam Knutson</a></li>
<li>The Peekskill Riots at 65 &bull; David Drager</li>
<li>Disabled Design: A Challenge for a New "Space Race" &bull; <a href='http://ergojoystick.com'>Joe Olson</a></li>
<li>Microfractures in the Cycle of Child Abuse &bull; <a href='http://campopportunity.org'>Dan Dutrow</a></li>
<li>Radical Redemption: Prison Hospice &bull; Kristin Metzger, R.N. </li>
<li>Surrealism: The art movement that still lives in our collective conscious &bull; <a href='http://lpnproductions.com/'>Monica Lopez-Gonzalez</a></li>
</ul>
-->
<p>You can view videos from previous Ignites on our <a href="http://youtube.com/user/ignitebaltimore">YouTube channel</a>.</p>

<h2>Keep In Touch</h2>
{% include social_media.html %}

<h2>Recent Videos</h2>
<div id="video_gallery">
  {% include video_gallery.html %}
</div>

<div class="row">
  <p>Check out more videos on the <a href="http://youtube.com/ignitebaltimore">Ignite Baltimore YouTube channel</a>.</p>
</div>
