---
layout: default
title: "Ignite Baltimore: 16 speakers get 5 minutes to talk to Baltimore"
---

<h2 class="row">Ignite Baltimore #13 Happens on September 26th, 2013 at 6 pm at MICA's Brown Center</h2>

<!--<p>We will start accepting proposals to speak this summer. Tickets will go on sale in August. Please join our-->
<!--<a href="/mailing_list">mailing list</a> if you'd like to be notified, as we usually sell-out quickly.</p>-->

<H4>Tickets are sold-out</h4>
<p>But the <a href="http://ignitebaltimore13.eventbrite.com/">waiting list is open</a>!</p>

<!--<p>Tickets are <a href="http://ignitebaltimore13.eventbrite.com/">on sale now</a>.</p>-->

<!--<p>We are now accepting proposals to speak at Ignite Baltimore #12. Apply at <a href="http://speak.ignitebaltimore.com">speak.ignitebaltimore.com</a>.</p>-->
<!--<p>Proposals are due <em>February 17th, 2013</em>. We will contact you by 2/28/13 to notify you if you were selected or not.</p>-->
<!--<p>Please review our <a href="/speaking">speaker guidelines</a> before applying. Thanks!</p>-->

<!--<p>Proposals for Ignite #12 are closed. We will notify speakers of their selection on or about 2/27/13.-->
<!--Tickets go on sale for Ignite #12 on or about 2/27/13. We will announce tickets via our mailing list and social media accounts (see below).</p>-->

<H4>Ignite Baltimore #13 Speakers</h4>
<ul>
<li>Wire in a "wireless" world &bull; <a href='http://drawnmetalstudios.com'>Devin Mack</a></li>
<li>Detroit. What we can learn from its burned out, bankrupt awesomeness. &bull; Trevor Villet</li>
<li>I Have Nothing to Wear &bull; <a href='http://www.carolynwilldesign.com'>Carolyn Williams</a></li>
<li>Cooperate or Compete? The Prisoner's Dilemma in the Classroom &bull; <a href='http://www.bradwray.com'>Brad Wray</a></li>
<li>Decisive Dissonance or Why Really Smart People Can Do Really Dumb Things  &bull; Jeff Jerome</li>
<li>Mt. Vernon: The Cradle of Civic Acculturation  &bull; <a href='http://about.me/paulmathews'>Paul Mathews</a></li>
<li>Investing for Normal People &bull; <a href='http://www.nicholasquigley.com/'>Nicholas Quigley</a></li>
<li>Ethics & Innovation: An Endless Dance &bull; <a href='http://www.enbloommedia.com'>Alisa M. Hughley, MPH</a></li>
<li>Bicycle Lanes: A Path to Sustainable Urban Development &bull; <a href='http://bikemore.net'>Chris Merriam</a></li>
<li>Public Perception of Science:  Lessons from a Dead Sheep &bull; <a href='http://adamruben.net'>Adam Ruben</a></li>
<li>How the Internet Works &bull; <a href='http://smartlogic.io/'>Yair Flicker</a></li>
<li>Everything I learned about Entrepreneurship I learned from Gangster Movies  &bull; <a href='http://www.sociallyahead.com'>S. Lynn Cooper</a></li>
<li>The Secret Laws We Follow &bull; <a href='http://tronster.com'>Tronster</a></li>
<li>10 Things I Learned in 10 Days of Silence &bull; Michele Crisafulli</li>
<li>To Speak Or Not To Speak: How Dysfunctional Communication Hurts Public Health Progress &bull; <a href='http://www.publichealthunited.org'>Nina Martin</a></li>
<li>Sex Positive Living On Venus, Mars and the Moon &bull; <a href='http://www.mylifecreated.com'>Mecca Woods</a></li>
<li>Why It's Illegal for Me to Find My Birth Mother, and How I Found Her Anyway &bull; <a href='http://sarahwasmyname.wordpress.com'>Catharine Robertson</a></li>
<li>Failure is where the work is &bull; <a href='http://www.linkedin.com/in/cshafer/'>Chris Shafer</a></li>
</ul>

<p>You can view videos from Ignite #12 on our <a href="http://youtube.com/user/ignitebaltimore">YouTube channel</a>.</p>

<h2>Keep In Touch</h2>
{% include social_media.html %}

<h2>Recent Videos</h2>
<div id="video_gallery">
  {% include video_gallery.html %}
</div>

<div class="row">
  <p>Check out more videos on the <a href="http://youtube.com/ignitebaltimore">Ignite Baltimore YouTube channel</a>.</p>
</div>
