<div class='row'>
<div class='col3 video_thumb'>
<a href='http://i.ytimg.com/vi/t3IP_FmGams/hqdefault.jpg'><img alt='Restoring The Archimedes Palimpsest by Will Noel, Ep25' src='http://i.ytimg.com/vi/t3IP_FmGams/hqdefault.jpg' width='162' height='121'></a>
      <div class="video_title">
        <a href="http://i.ytimg.com/vi/t3IP_FmGams/hqdefault.jpg">Restoring The Archimedes Palimpsest by Will Noel, Ep25</a>
      </div>
</div>
<div class='col3 video_thumb'>
<a href='http://i.ytimg.com/vi/czs6lEUuz6E/hqdefault.jpg'><img alt='Teonanácatl: The Secret History of Magic Mushrooms (Ignite Baltimore 6 - Michael M. Hughes)' src='http://i.ytimg.com/vi/czs6lEUuz6E/hqdefault.jpg' width='162' height='121'></a>
      <div class="video_title">
        <a href="http://i.ytimg.com/vi/czs6lEUuz6E/hqdefault.jpg">Teonanácatl: The Secret History of Magic Mushrooms (Ignite Baltimore 6 - Michael M. Hughes)</a>
      </div>
</div>
<div class='col3 video_thumb'>
<a href='http://i.ytimg.com/vi/O0vR2KzbozA/hqdefault.jpg'><img alt='Business Lessons I Learned Growing Up in the DIY/Punk Culture' src='http://i.ytimg.com/vi/O0vR2KzbozA/hqdefault.jpg' width='162' height='121'></a>
      <div class="video_title">
        <a href="http://i.ytimg.com/vi/O0vR2KzbozA/hqdefault.jpg">Business Lessons I Learned Growing Up in the DIY/Punk Culture</a>
      </div>
</div>
<div class='col3 video_thumb'>
<a href='http://i.ytimg.com/vi/fu87eWKpwJw/hqdefault.jpg'><img alt='Why I Don't Want Kids (Ignite Baltimore 6 - Heather Holland)' src='http://i.ytimg.com/vi/fu87eWKpwJw/hqdefault.jpg' width='162' height='121'></a>
      <div class="video_title">
        <a href="http://i.ytimg.com/vi/fu87eWKpwJw/hqdefault.jpg">Why I Don't Want Kids (Ignite Baltimore 6 - Heather Holland)</a>
      </div>
</div>
<div class='row-end'>&nbsp;</div></div>
<div class='row'>
<div class='col3 video_thumb'>
<a href='http://i.ytimg.com/vi/r6Uj_CZb5a4/hqdefault.jpg'><img alt='Christopher Llewellyn Reed   The Kuleshov Effect' src='http://i.ytimg.com/vi/r6Uj_CZb5a4/hqdefault.jpg' width='162' height='121'></a>
      <div class="video_title">
        <a href="http://i.ytimg.com/vi/r6Uj_CZb5a4/hqdefault.jpg">Christopher Llewellyn Reed   The Kuleshov Effect</a>
      </div>
</div>
<div class='col3 video_thumb'>
<a href='http://i.ytimg.com/vi/OjUpDHbhk5U/hqdefault.jpg'><img alt='Media Free Week - A Monthly Media Fast, And How I Survive It (Ignite Baltimore 6 - Gin Ferrara)' src='http://i.ytimg.com/vi/OjUpDHbhk5U/hqdefault.jpg' width='162' height='121'></a>
      <div class="video_title">
        <a href="http://i.ytimg.com/vi/OjUpDHbhk5U/hqdefault.jpg">Media Free Week - A Monthly Media Fast, And How I Survive It (Ignite Baltimore 6 - Gin Ferrara)</a>
      </div>
</div>
<div class='col3 video_thumb'>
<a href='http://i.ytimg.com/vi/IhoRp5_8M9I/hqdefault.jpg'><img alt='If You Build It...  Will They Come? (Ignite Baltimore 6 - Scotty Walsh)' src='http://i.ytimg.com/vi/IhoRp5_8M9I/hqdefault.jpg' width='162' height='121'></a>
      <div class="video_title">
        <a href="http://i.ytimg.com/vi/IhoRp5_8M9I/hqdefault.jpg">If You Build It...  Will They Come? (Ignite Baltimore 6 - Scotty Walsh)</a>
      </div>
</div>
<div class='col3 video_thumb'>
<a href='http://i.ytimg.com/vi/P7hjHa96rRw/hqdefault.jpg'><img alt='The Monkeyfish Within Us' src='http://i.ytimg.com/vi/P7hjHa96rRw/hqdefault.jpg' width='162' height='121'></a>
      <div class="video_title">
        <a href="http://i.ytimg.com/vi/P7hjHa96rRw/hqdefault.jpg">The Monkeyfish Within Us</a>
      </div>
</div>
<div class='row-end'>&nbsp;</div></div>
<div class='row'>
<div class='col3 video_thumb'>
<a href='http://i.ytimg.com/vi/MiaHwk-E0gk/hqdefault.jpg'><img alt='Art Can Save the World' src='http://i.ytimg.com/vi/MiaHwk-E0gk/hqdefault.jpg' width='162' height='121'></a>
      <div class="video_title">
        <a href="http://i.ytimg.com/vi/MiaHwk-E0gk/hqdefault.jpg">Art Can Save the World</a>
      </div>
</div>
<div class='col3 video_thumb'>
<a href='http://i.ytimg.com/vi/ANlUUp58srI/hqdefault.jpg'><img alt='Hard Times: Great Depression vs Great Recession (ellen cherry - Ignite Baltimore 6)' src='http://i.ytimg.com/vi/ANlUUp58srI/hqdefault.jpg' width='162' height='121'></a>
      <div class="video_title">
        <a href="http://i.ytimg.com/vi/ANlUUp58srI/hqdefault.jpg">Hard Times: Great Depression vs Great Recession (ellen cherry - Ignite Baltimore 6)</a>
      </div>
</div>
<div class='col3 video_thumb'>
<a href='http://i.ytimg.com/vi/Cyn90SOak5I/hqdefault.jpg'><img alt='Running Start' src='http://i.ytimg.com/vi/Cyn90SOak5I/hqdefault.jpg' width='162' height='121'></a>
      <div class="video_title">
        <a href="http://i.ytimg.com/vi/Cyn90SOak5I/hqdefault.jpg">Running Start</a>
      </div>
</div>
<div class='col3 video_thumb'>
<a href='http://i.ytimg.com/vi/vc0uJdCYRPY/hqdefault.jpg'><img alt='Bobbi Macdonald   Space to Learn' src='http://i.ytimg.com/vi/vc0uJdCYRPY/hqdefault.jpg' width='162' height='121'></a>
      <div class="video_title">
        <a href="http://i.ytimg.com/vi/vc0uJdCYRPY/hqdefault.jpg">Bobbi Macdonald   Space to Learn</a>
      </div>
</div>
<div class='row-end'>&nbsp;</div></div>
<div class='row'>
<div class='col3 video_thumb'>
<a href='http://i.ytimg.com/vi/hJS3pzwwCXU/hqdefault.jpg'><img alt='Jed Dietz   Ten Movies You've Missed, But Should Rent' src='http://i.ytimg.com/vi/hJS3pzwwCXU/hqdefault.jpg' width='162' height='121'></a>
      <div class="video_title">
        <a href="http://i.ytimg.com/vi/hJS3pzwwCXU/hqdefault.jpg">Jed Dietz   Ten Movies You've Missed, But Should Rent</a>
      </div>
</div>
<div class='col3 video_thumb'>
<a href='http://i.ytimg.com/vi/McpqwakG9nA/hqdefault.jpg'><img alt='Brian Sacawa's "Hybridity: Remaking the (New) Musical Horizon in Baltimore" - Ignite Baltimore 5' src='http://i.ytimg.com/vi/McpqwakG9nA/hqdefault.jpg' width='162' height='121'></a>
      <div class="video_title">
        <a href="http://i.ytimg.com/vi/McpqwakG9nA/hqdefault.jpg">Brian Sacawa's "Hybridity: Remaking the (New) Musical Horizon in Baltimore" - Ignite Baltimore 5</a>
      </div>
</div>
<div class='col3 video_thumb'>
<a href='http://i.ytimg.com/vi/Nstps55ZnHs/hqdefault.jpg'><img alt='Kwame Kuadey   How to Bootstrap a Startup' src='http://i.ytimg.com/vi/Nstps55ZnHs/hqdefault.jpg' width='162' height='121'></a>
      <div class="video_title">
        <a href="http://i.ytimg.com/vi/Nstps55ZnHs/hqdefault.jpg">Kwame Kuadey   How to Bootstrap a Startup</a>
      </div>
</div>
<div class='col3 video_thumb'>
<a href='http://i.ytimg.com/vi/0Uj2x4Lhwn0/hqdefault.jpg'><img alt='Ellen Worthing "Bushwacking: Stepping off the Beaten Path" - Ignite Baltimore 5' src='http://i.ytimg.com/vi/0Uj2x4Lhwn0/hqdefault.jpg' width='162' height='121'></a>
      <div class="video_title">
        <a href="http://i.ytimg.com/vi/0Uj2x4Lhwn0/hqdefault.jpg">Ellen Worthing "Bushwacking: Stepping off the Beaten Path" - Ignite Baltimore 5</a>
      </div>
</div>
<div class='row-end'>&nbsp;</div></div>
<div class='row'>
<div class='col3 video_thumb'>
<a href='http://i.ytimg.com/vi/ZNhPvp3C8II/hqdefault.jpg'><img alt='Monkeys, Magic Forces & Evil' src='http://i.ytimg.com/vi/ZNhPvp3C8II/hqdefault.jpg' width='162' height='121'></a>
      <div class="video_title">
        <a href="http://i.ytimg.com/vi/ZNhPvp3C8II/hqdefault.jpg">Monkeys, Magic Forces & Evil</a>
      </div>
</div>
<div class='col3 video_thumb'>
<a href='http://i.ytimg.com/vi/E8z-CbUsC4E/hqdefault.jpg'><img alt='Yair Flicker   Six Marketable Business Ideas' src='http://i.ytimg.com/vi/E8z-CbUsC4E/hqdefault.jpg' width='162' height='121'></a>
      <div class="video_title">
        <a href="http://i.ytimg.com/vi/E8z-CbUsC4E/hqdefault.jpg">Yair Flicker   Six Marketable Business Ideas</a>
      </div>
</div>
<div class='col3 video_thumb'>
<a href='http://i.ytimg.com/vi/YaoNnkvX1Tc/hqdefault.jpg'><img alt='Lauren Abramson   The Flip Side of The Wire' src='http://i.ytimg.com/vi/YaoNnkvX1Tc/hqdefault.jpg' width='162' height='121'></a>
      <div class="video_title">
        <a href="http://i.ytimg.com/vi/YaoNnkvX1Tc/hqdefault.jpg">Lauren Abramson   The Flip Side of The Wire</a>
      </div>
</div>
<div class='col3 video_thumb'>
<a href='http://i.ytimg.com/vi/5YVFyFEUp2c/hqdefault.jpg'><img alt='Thom Hawkins   The Spear of Dyslexia' src='http://i.ytimg.com/vi/5YVFyFEUp2c/hqdefault.jpg' width='162' height='121'></a>
      <div class="video_title">
        <a href="http://i.ytimg.com/vi/5YVFyFEUp2c/hqdefault.jpg">Thom Hawkins   The Spear of Dyslexia</a>
      </div>
</div>
<div class='row-end'>&nbsp;</div></div>
<div class='row'>
<div class='col3 video_thumb'>
<a href='http://i.ytimg.com/vi/w664BObiGO0/hqdefault.jpg'><img alt='A Case for Affirmative Action in "Post Racial" America (Ignite Baltimore 6 - Douglass Austin)' src='http://i.ytimg.com/vi/w664BObiGO0/hqdefault.jpg' width='162' height='121'></a>
      <div class="video_title">
        <a href="http://i.ytimg.com/vi/w664BObiGO0/hqdefault.jpg">A Case for Affirmative Action in "Post Racial" America (Ignite Baltimore 6 - Douglass Austin)</a>
      </div>
</div>
<div class='col3 video_thumb'>
<a href='http://i.ytimg.com/vi/-DEh20Wr2_w/hqdefault.jpg'><img alt='QuickExplore.org's video shown at Baltimore Ignite #6' src='http://i.ytimg.com/vi/-DEh20Wr2_w/hqdefault.jpg' width='162' height='121'></a>
      <div class="video_title">
        <a href="http://i.ytimg.com/vi/-DEh20Wr2_w/hqdefault.jpg">QuickExplore.org's video shown at Baltimore Ignite #6</a>
      </div>
</div>
<div class='col3 video_thumb'>
<a href='http://i.ytimg.com/vi/8EEZ3ksPWK0/hqdefault.jpg'><img alt='Bill Mill "The Malthusian Tower" - Ignite Baltimore 5' src='http://i.ytimg.com/vi/8EEZ3ksPWK0/hqdefault.jpg' width='162' height='121'></a>
      <div class="video_title">
        <a href="http://i.ytimg.com/vi/8EEZ3ksPWK0/hqdefault.jpg">Bill Mill "The Malthusian Tower" - Ignite Baltimore 5</a>
      </div>
</div>
<div class='col3 video_thumb'>
<a href='http://i.ytimg.com/vi/75E8n7szoBc/hqdefault.jpg'><img alt='Matthew Porterfield   A Case for Repertory Cinema' src='http://i.ytimg.com/vi/75E8n7szoBc/hqdefault.jpg' width='162' height='121'></a>
      <div class="video_title">
        <a href="http://i.ytimg.com/vi/75E8n7szoBc/hqdefault.jpg">Matthew Porterfield   A Case for Repertory Cinema</a>
      </div>
</div>
<div class='row-end'>&nbsp;</div></div>
