<a class="video_thumb" href="http://www.youtube.com/watch?v=t3IP_FmGams&feature=youtube_gdata_player">
  <img alt="Restoring The Archimedes Palimpsest by Will Noel, Ep25" src="http://i.ytimg.com/vi/t3IP_FmGams/hqdefault.jpg" width="222" height="166">
  <p>Restoring The Archimedes Palimpsest by Will Noel, Ep25</p>
</a>

<a class="video_thumb" href="http://www.youtube.com/watch?v=czs6lEUuz6E&feature=youtube_gdata_player">
  <img alt="Teonanácatl: The Secret History of Magic Mushrooms (Michael M. Hughes)" src="http://i.ytimg.com/vi/czs6lEUuz6E/hqdefault.jpg" width="222" height="166">
  <p>Teonanácatl: The Secret History of Magic Mushrooms (Michael M. Hughes)</p>
</a>

<a class="video_thumb" href="http://www.youtube.com/watch?v=O0vR2KzbozA&feature=youtube_gdata_player">
  <img alt="Business Lessons I Learned Growing Up in the DIY/Punk Culture" src="http://i.ytimg.com/vi/O0vR2KzbozA/hqdefault.jpg" width="222" height="166">
  <p>Business Lessons I Learned Growing Up in the DIY/Punk Culture</p>
</a>

<a class="video_thumb" href="http://www.youtube.com/watch?v=fu87eWKpwJw&feature=youtube_gdata_player">
  <img alt="Why I Don't Want Kids (Heather Holland)" src="http://i.ytimg.com/vi/fu87eWKpwJw/hqdefault.jpg" width="222" height="166">
  <p>Why I Don"t Want Kids (Heather Holland)</p>
</a>

<a class="video_thumb" href="http://www.youtube.com/watch?v=r6Uj_CZb5a4&feature=youtube_gdata_player">
  <img alt="Christopher Llewellyn Reed The Kuleshov Effect" src="http://i.ytimg.com/vi/r6Uj_CZb5a4/hqdefault.jpg" width="222" height="166">
  <p>Christopher Llewellyn Reed   The Kuleshov Effect</p>
</a>

<a class="video_thumb" href="http://www.youtube.com/watch?v=OjUpDHbhk5U&feature=youtube_gdata_player">
  <img alt="Media Free Week - A Monthly Media Fast, And How I Survive It (Gin Ferrara)" src="http://i.ytimg.com/vi/OjUpDHbhk5U/hqdefault.jpg" width="222" height="166">
  <p>Media Free Week - A Monthly Media Fast, And How I Survive It (Gin Ferrara)</p>
</a>

<a class="video_thumb" href="http://www.youtube.com/watch?v=IhoRp5_8M9I&feature=youtube_gdata_player">
  <img alt="If You Build It...  Will They Come? (Scotty Walsh)" src="http://i.ytimg.com/vi/IhoRp5_8M9I/hqdefault.jpg" width="222" height="166">
  <p>If You Build It...  Will They Come? (Scotty Walsh)</p>
</a>

<a class="video_thumb" href="http://www.youtube.com/watch?v=P7hjHa96rRw&feature=youtube_gdata_player">
  <img alt="The Monkeyfish Within Us" src="http://i.ytimg.com/vi/P7hjHa96rRw/hqdefault.jpg" width="222" height="166">
  <p>The Monkeyfish Within Us</p>
</a>

<a class="video_thumb" href="http://www.youtube.com/watch?v=MiaHwk-E0gk&feature=youtube_gdata_player">
  <img alt="Art Can Save the World" src="http://i.ytimg.com/vi/MiaHwk-E0gk/hqdefault.jpg" width="222" height="166">
  <p>Art Can Save the World</p>
</a>

<a class="video_thumb" href="http://www.youtube.com/watch?v=ANlUUp58srI&feature=youtube_gdata_player">
  <img alt="Hard Times: Great Depression vs Great Recession (ellen cherry)" src="http://i.ytimg.com/vi/ANlUUp58srI/hqdefault.jpg" width="222" height="166">
  <p>Hard Times: Great Depression vs Great Recession (ellen cherry)</p>
</a>

<a class="video_thumb" href="http://www.youtube.com/watch?v=Cyn90SOak5I&feature=youtube_gdata_player">
  <img alt="Running Start" src="http://i.ytimg.com/vi/Cyn90SOak5I/hqdefault.jpg" width="222" height="166">
  <p>Running Start</p>
</a>

<a class="video_thumb" href="http://www.youtube.com/watch?v=vc0uJdCYRPY&feature=youtube_gdata_player">
  <img alt="Bobbi Macdonald   Space to Learn" src="http://i.ytimg.com/vi/vc0uJdCYRPY/hqdefault.jpg" width="222" height="166">
  <p>Bobbi Macdonald   Space to Learn</p>
</a>

<a class="video_thumb" href="http://www.youtube.com/watch?v=hJS3pzwwCXU&feature=youtube_gdata_player">
  <img alt="Jed Dietz   Ten Movies You've Missed, But Should Rent" src="http://i.ytimg.com/vi/hJS3pzwwCXU/hqdefault.jpg" width="222" height="166">
  <p>Jed Dietz   Ten Movies You've Missed, But Should Rent</p>
</a>

<a class="video_thumb" href="http://www.youtube.com/watch?v=McpqwakG9nA&feature=youtube_gdata_player">
  <img alt="Brian Sacawa's &quot;Hybridity: Remaking the (New) Musical Horizon in Baltimore&quot;" src="http://i.ytimg.com/vi/McpqwakG9nA/hqdefault.jpg" width="222" height="166">
  <p>Brian Sacawa's "Hybridity: Remaking the (New) Musical Horizon in Baltimore"</p>
</a>

<a class="video_thumb" href="http://www.youtube.com/watch?v=Nstps55ZnHs&feature=youtube_gdata_player">
  <img alt="Kwame Kuadey   How to Bootstrap a Startup" src="http://i.ytimg.com/vi/Nstps55ZnHs/hqdefault.jpg" width="222" height="166">
  <p>Kwame Kuadey   How to Bootstrap a Startup</p>
</a>

<a class="video_thumb" href="http://www.youtube.com/watch?v=0Uj2x4Lhwn0&feature=youtube_gdata_player">
  <img alt="Ellen Worthing &quot;Bushwacking: Stepping off the Beaten Path&quot;" src="http://i.ytimg.com/vi/0Uj2x4Lhwn0/hqdefault.jpg" width="222" height="166">
  <p>Ellen Worthing "Bushwacking: Stepping off the Beaten Path"</p>
</a>

<a class="video_thumb" href="http://www.youtube.com/watch?v=ZNhPvp3C8II&feature=youtube_gdata_player">
  <img alt="Monkeys, Magic Forces & Evil" src="http://i.ytimg.com/vi/ZNhPvp3C8II/hqdefault.jpg" width="222" height="166">
  <p>Monkeys, Magic Forces & Evil</p>
</a>

<a class="video_thumb" href="http://www.youtube.com/watch?v=E8z-CbUsC4E&feature=youtube_gdata_player">
  <img alt="Yair Flicker   Six Marketable Business Ideas" src="http://i.ytimg.com/vi/E8z-CbUsC4E/hqdefault.jpg" width="222" height="166">
  <p>Yair Flicker   Six Marketable Business Ideas</p>
</a>

<a class="video_thumb" href="http://www.youtube.com/watch?v=YaoNnkvX1Tc&feature=youtube_gdata_player">
  <img alt="Lauren Abramson   The Flip Side of The Wire" src="http://i.ytimg.com/vi/YaoNnkvX1Tc/hqdefault.jpg" width="222" height="166">
  <p>Lauren Abramson   The Flip Side of The Wire</p>
</a>

<a class="video_thumb" href="http://www.youtube.com/watch?v=5YVFyFEUp2c&feature=youtube_gdata_player">
  <img alt="Thom Hawkins   The Spear of Dyslexia" src="http://i.ytimg.com/vi/5YVFyFEUp2c/hqdefault.jpg" width="222" height="166">
  <p>Thom Hawkins   The Spear of Dyslexia</p>
</a>

<a class="video_thumb" href="http://www.youtube.com/watch?v=w664BObiGO0&feature=youtube_gdata_player">
  <img alt="A Case for Affirmative Action in &quot;Post Racial&quot; America (Douglass Austin)" src="http://i.ytimg.com/vi/w664BObiGO0/hqdefault.jpg" width="222" height="166">
  <p>A Case for Affirmative Action in "Post Racial" America (Douglass Austin)</p>
</a>

<a class="video_thumb" href="http://www.youtube.com/watch?v=-DEh20Wr2_w&feature=youtube_gdata_player">
  <img alt="QuickExplore.org's video shown at Baltimore Ignite #6" src="http://i.ytimg.com/vi/-DEh20Wr2_w/hqdefault.jpg" width="222" height="166">
  <p>QuickExplore.org's video shown at Baltimore Ignite #6</p>
</a>

<a class="video_thumb" href="http://www.youtube.com/watch?v=8EEZ3ksPWK0&feature=youtube_gdata_player">
  <img alt="Bill Mill &quot;The Malthusian Tower&quot;" src="http://i.ytimg.com/vi/8EEZ3ksPWK0/hqdefault.jpg" width="222" height="166">
  <p>Bill Mill "The Malthusian Tower"</p>
</a>

<a class="video_thumb" href="http://www.youtube.com/watch?v=75E8n7szoBc&feature=youtube_gdata_player">
  <img alt="Matthew Porterfield   A Case for Repertory Cinema" src="http://i.ytimg.com/vi/75E8n7szoBc/hqdefault.jpg" width="222" height="166">
  <p>Matthew Porterfield   A Case for Repertory Cinema</p>
</a>
