<div class='row'><div class='onecol'></div>
<div class='tubepress_thumb twocol'>
<a><img alt='Ignite Baltimore 8: Tracy Gold - How to Pickup a Social Media Audience' src='http://i.ytimg.com/vi/VpK0llxgFDA/default.jpg' width='120' height='90'></a>
<a href='http://www.youtube.com/watch?v=VpK0llxgFDA&feature=youtube_gdata_player'>Ignite Baltimore 8: Tracy Gold - How to Pickup a Social Media Audience</a>
</div>
<div class='tubepress_thumb twocol'>
<a><img alt='Ignite Baltimore 8: Todd Blatt - How to use a Shrink Ray for Real' src='http://i.ytimg.com/vi/l1Xk91zXsX4/default.jpg' width='120' height='90'></a>
<a href='http://www.youtube.com/watch?v=l1Xk91zXsX4&feature=youtube_gdata_player'>Ignite Baltimore 8: Todd Blatt - How to use a Shrink Ray for Real</a>
</div>
<div class='tubepress_thumb twocol'>
<a><img alt='Ignite Baltimore 8: Sadie Macdonald - Non Verbal Facial Expressions' src='http://i.ytimg.com/vi/ZE611VlaHh0/default.jpg' width='120' height='90'></a>
<a href='http://www.youtube.com/watch?v=ZE611VlaHh0&feature=youtube_gdata_player'>Ignite Baltimore 8: Sadie Macdonald - Non Verbal Facial Expressions</a>
</div>
<div class='tubepress_thumb twocol'>
<a><img alt='Ignite Baltimore 8: Ron Spencer - Five Things You've Forgotten From Kant's Critique of Pure Reason' src='http://i.ytimg.com/vi/W8GT7MZQfG0/default.jpg' width='120' height='90'></a>
<a href='http://www.youtube.com/watch?v=W8GT7MZQfG0&feature=youtube_gdata_player'>Ignite Baltimore 8: Ron Spencer - Five Things You've Forgotten From Kant's Critique of Pure Reason</a>
</div>
<div class='tubepress_thumb twocol last'>
<a><img alt='Ignite Baltimore 8: Rev Heber Brown III - An Alternate Vision for City Youth & Public Safety' src='http://i.ytimg.com/vi/Ue6herWFKY0/default.jpg' width='120' height='90'></a>
<a href='http://www.youtube.com/watch?v=Ue6herWFKY0&feature=youtube_gdata_player'>Ignite Baltimore 8: Rev Heber Brown III - An Alternate Vision for City Youth & Public Safety</a>
</div>
<div class='onecol'></div></div>
<div class='row'><div class='onecol'></div>
<div class='tubepress_thumb twocol'>
<a><img alt='Ignite Baltimore 8: Neal McDonald - Copyright Real Estate' src='http://i.ytimg.com/vi/3IqpXy7Agn0/default.jpg' width='120' height='90'></a>
<a href='http://www.youtube.com/watch?v=3IqpXy7Agn0&feature=youtube_gdata_player'>Ignite Baltimore 8: Neal McDonald - Copyright Real Estate</a>
</div>
<div class='tubepress_thumb twocol'>
<a><img alt='Ignite Baltimore 8: Lester Spence - Why Americans Hate Government' src='http://i.ytimg.com/vi/WUcAhVta5gg/default.jpg' width='120' height='90'></a>
<a href='http://www.youtube.com/watch?v=WUcAhVta5gg&feature=youtube_gdata_player'>Ignite Baltimore 8: Lester Spence - Why Americans Hate Government</a>
</div>
<div class='tubepress_thumb twocol'>
<a><img alt='Ignite Baltimore 8: Brian Sacawa - Performance' src='http://i.ytimg.com/vi/vqSZEpuE_k8/default.jpg' width='120' height='90'></a>
<a href='http://www.youtube.com/watch?v=vqSZEpuE_k8&feature=youtube_gdata_player'>Ignite Baltimore 8: Brian Sacawa - Performance</a>
</div>
<div class='tubepress_thumb twocol'>
<a><img alt='Ignite Baltimore 8: Joy Twesiqye - Casseroles and Community' src='http://i.ytimg.com/vi/Yls5aaGZcBM/default.jpg' width='120' height='90'></a>
<a href='http://www.youtube.com/watch?v=Yls5aaGZcBM&feature=youtube_gdata_player'>Ignite Baltimore 8: Joy Twesiqye - Casseroles and Community</a>
</div>
<div class='tubepress_thumb twocol last'>
<a><img alt='Ignite Baltimore 8: Christopher Llewellyn Reed - Gone With the Wind Needs to Go...' src='http://i.ytimg.com/vi/Uc6puKM6WPw/default.jpg' width='120' height='90'></a>
<a href='http://www.youtube.com/watch?v=Uc6puKM6WPw&feature=youtube_gdata_player'>Ignite Baltimore 8: Christopher Llewellyn Reed - Gone With the Wind Needs to Go...</a>
</div>
<div class='onecol'></div></div>
<div class='row'><div class='onecol'></div>
<div class='tubepress_thumb twocol'>
<a><img alt='Ignite Baltimore 8: Heather Holland - Why I Switched Teams' src='http://i.ytimg.com/vi/MJcCPA4lwGw/default.jpg' width='120' height='90'></a>
<a href='http://www.youtube.com/watch?v=MJcCPA4lwGw&feature=youtube_gdata_player'>Ignite Baltimore 8: Heather Holland - Why I Switched Teams</a>
</div>
<div class='tubepress_thumb twocol'>
<a><img alt='Ignite Baltimore 8: Henry Posko - Something's Brewing in East Baltimore' src='http://i.ytimg.com/vi/QpMW7PB_okQ/default.jpg' width='120' height='90'></a>
<a href='http://www.youtube.com/watch?v=QpMW7PB_okQ&feature=youtube_gdata_player'>Ignite Baltimore 8: Henry Posko - Something's Brewing in East Baltimore</a>
</div>
<div class='tubepress_thumb twocol'>
<a><img alt='Lauren Abramson   The Flip Side of The Wire' src='http://i.ytimg.com/vi/YaoNnkvX1Tc/default.jpg' width='120' height='90'></a>
<a href='http://www.youtube.com/watch?v=YaoNnkvX1Tc&feature=youtube_gdata_player'>Lauren Abramson   The Flip Side of The Wire</a>
</div>
<div class='tubepress_thumb twocol'>
<a><img alt='Greg Dekker   71 Million Americans Say Your Cubicle is Stupid' src='http://i.ytimg.com/vi/FxWHzoLSHLo/default.jpg' width='120' height='90'></a>
<a href='http://www.youtube.com/watch?v=FxWHzoLSHLo&feature=youtube_gdata_player'>Greg Dekker   71 Million Americans Say Your Cubicle is Stupid</a>
</div>
<div class='tubepress_thumb twocol last'>
<a><img alt='Lily Susskind   Ignition Grant Winner' src='http://i.ytimg.com/vi/J8fgCNsDSGQ/default.jpg' width='120' height='90'></a>
<a href='http://www.youtube.com/watch?v=J8fgCNsDSGQ&feature=youtube_gdata_player'>Lily Susskind   Ignition Grant Winner</a>
</div>
<div class='onecol'></div></div>
<div class='row'><div class='onecol'></div>
<div class='tubepress_thumb twocol'>
<a><img alt='Thom Hawkins   The Spear of Dyslexia' src='http://i.ytimg.com/vi/5YVFyFEUp2c/default.jpg' width='120' height='90'></a>
<a href='http://www.youtube.com/watch?v=5YVFyFEUp2c&feature=youtube_gdata_player'>Thom Hawkins   The Spear of Dyslexia</a>
</div>
<div class='tubepress_thumb twocol'>
<a><img alt='Matthew Porterfield   A Case for Repertory Cinema' src='http://i.ytimg.com/vi/75E8n7szoBc/default.jpg' width='120' height='90'></a>
<a href='http://www.youtube.com/watch?v=75E8n7szoBc&feature=youtube_gdata_player'>Matthew Porterfield   A Case for Repertory Cinema</a>
</div>
<div class='tubepress_thumb twocol'>
<a><img alt='Mark Armbruster   How to Take Better Self Portrait Headshots' src='http://i.ytimg.com/vi/CIIEjoN2jAo/default.jpg' width='120' height='90'></a>
<a href='http://www.youtube.com/watch?v=CIIEjoN2jAo&feature=youtube_gdata_player'>Mark Armbruster   How to Take Better Self Portrait Headshots</a>
</div>
<div class='tubepress_thumb twocol'>
<a><img alt='Joan Kanner   Waste of Spaces' src='http://i.ytimg.com/vi/XyLHymHY2mI/default.jpg' width='120' height='90'></a>
<a href='http://www.youtube.com/watch?v=XyLHymHY2mI&feature=youtube_gdata_player'>Joan Kanner   Waste of Spaces</a>
</div>
<div class='tubepress_thumb twocol last'>
<a><img alt='Felicia Pride   Ignition Grant Winner' src='http://i.ytimg.com/vi/GWXCEH2rm4c/default.jpg' width='120' height='90'></a>
<a href='http://www.youtube.com/watch?v=GWXCEH2rm4c&feature=youtube_gdata_player'>Felicia Pride   Ignition Grant Winner</a>
</div>
<div class='onecol'></div></div>
<div class='row'><div class='onecol'></div>
<div class='tubepress_thumb twocol'>
<a><img alt='Donni Engelhart   Price Quoth the Raven' src='http://i.ytimg.com/vi/hknXze2MpOY/default.jpg' width='120' height='90'></a>
<a href='http://www.youtube.com/watch?v=hknXze2MpOY&feature=youtube_gdata_player'>Donni Engelhart   Price Quoth the Raven</a>
</div>
<div class='tubepress_thumb twocol'>
<a><img alt='Yair Flicker   Six Marketable Business Ideas' src='http://i.ytimg.com/vi/E8z-CbUsC4E/default.jpg' width='120' height='90'></a>
<a href='http://www.youtube.com/watch?v=E8z-CbUsC4E&feature=youtube_gdata_player'>Yair Flicker   Six Marketable Business Ideas</a>
</div>
<div class='tubepress_thumb twocol'>
<a><img alt='Bobbi Macdonald   Space to Learn' src='http://i.ytimg.com/vi/vc0uJdCYRPY/default.jpg' width='120' height='90'></a>
<a href='http://www.youtube.com/watch?v=vc0uJdCYRPY&feature=youtube_gdata_player'>Bobbi Macdonald   Space to Learn</a>
</div>
<div class='tubepress_thumb twocol'>
<a><img alt='Jed Dietz   Ten Movies You've Missed, But Should Rent' src='http://i.ytimg.com/vi/hJS3pzwwCXU/default.jpg' width='120' height='90'></a>
<a href='http://www.youtube.com/watch?v=hJS3pzwwCXU&feature=youtube_gdata_player'>Jed Dietz   Ten Movies You've Missed, But Should Rent</a>
</div>
<div class='tubepress_thumb twocol last'>
<a><img alt='Carol Reiley   The Operating Room of the Future' src='http://i.ytimg.com/vi/L5UjiAon8QU/default.jpg' width='120' height='90'></a>
<a href='http://www.youtube.com/watch?v=L5UjiAon8QU&feature=youtube_gdata_player'>Carol Reiley   The Operating Room of the Future</a>
</div>
<div class='onecol'></div></div>
<div class='row'><div class='onecol'></div>
<div class='tubepress_thumb twocol'>
<a><img alt='Ignite Baltimore 8: Jan Baum - Design, Design, Design - Things That Make My Heart Beat Faster' src='http://i.ytimg.com/vi/Z2i7f0K1za0/default.jpg' width='120' height='90'></a>
<a href='http://www.youtube.com/watch?v=Z2i7f0K1za0&feature=youtube_gdata_player'>Ignite Baltimore 8: Jan Baum - Design, Design, Design - Things That Make My Heart Beat Faster</a>
</div>
<div class='tubepress_thumb twocol'>
<a><img alt='Ignite Baltimore 8: Lauree Ostrofsky - Deconstructing a Hug' src='http://i.ytimg.com/vi/i39DFSjob8g/default.jpg' width='120' height='90'></a>
<a href='http://www.youtube.com/watch?v=i39DFSjob8g&feature=youtube_gdata_player'>Ignite Baltimore 8: Lauree Ostrofsky - Deconstructing a Hug</a>
</div>
<div class='tubepress_thumb twocol'>
<a><img alt='Kwame Kuadey   How to Bootstrap a Startup' src='http://i.ytimg.com/vi/Nstps55ZnHs/default.jpg' width='120' height='90'></a>
<a href='http://www.youtube.com/watch?v=Nstps55ZnHs&feature=youtube_gdata_player'>Kwame Kuadey   How to Bootstrap a Startup</a>
</div>
<div class='tubepress_thumb twocol'>
<a><img alt='Jeff Casimir   Teach Anything to Anyone' src='http://i.ytimg.com/vi/HhFO_h-rG7g/default.jpg' width='120' height='90'></a>
<a href='http://www.youtube.com/watch?v=HhFO_h-rG7g&feature=youtube_gdata_player'>Jeff Casimir   Teach Anything to Anyone</a>
</div>
<div class='tubepress_thumb twocol last'>
<a><img alt='Christopher Llewellyn Reed   The Kuleshov Effect' src='http://i.ytimg.com/vi/r6Uj_CZb5a4/default.jpg' width='120' height='90'></a>
<a href='http://www.youtube.com/watch?v=r6Uj_CZb5a4&feature=youtube_gdata_player'>Christopher Llewellyn Reed   The Kuleshov Effect</a>
</div>
<div class='onecol'></div></div>
