<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="css/978.css" type="text/css">
	<link rel="stylesheet" href="css/styles.css" type="text/css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script type="text/javascript" src="javascript/javascript.js"></script>
  <script type="text/javascript" src="http://use.typekit.com/fbk0crn.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
  <div id="header_row" class="row">
    <a href="/" id="ignite-logo">
      <img src="images/logo.gif" width="222" height="156" alt="Ignite Baltimore Logo">
    </a>
    <div id="header_text">
      <h1>Ignite Baltimore: 16 speakers x 5 minutes</h1>
      <div id="top_links" class="row">
        <ul>
          <li><a href="about">About</a></li>
          <li><a href="speaking">Speaking</a></li>
          <li><a href="grant">Grant</a></li>
          <li><a href="https://www.youtube.com/user/ignitebaltimore">Videos</a></li>
          <li><a href="http://www.flickr.com/photos/ignitebaltimore/sets/">Photos</a></li>
          <li><a href="mailing_list">Mailing List</a></li>
          <li><a href="contact">Contact</a></li>
        </ul>
        <div class="row-end">&nbsp;</div>
      </div>
    </div>
    <div class="row-end">&nbsp;</div>
  </div>

  {{ content }}

  <p id="footer" class="row">
  Want to help make this site look awesome? It's an <a href="https://github.com/ignitebaltimore/ignitebaltimore.github.com">open source project on GitHub</a>. Fork it and hack on it, then we'll pull your changes in and credit you here.
  </p>
  <p class="row">
  <center><a href="http://madewithloveinbaltimore.org">Made with &hearts; in Baltimore</a></center>
  </p>
<script type="text/javascript">
  var _gaq=[['_setAccount','UA-9222451-1'],['_trackPageview'],['_trackPageLoadTime']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
</body>
</html>
