<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=1024" />
  <link rel="stylesheet" href="css/978.css" type="text/css">
	<link rel="stylesheet" href="css/styles.css" type="text/css">
	
  <script type="text/javascript" src="http://use.typekit.com/fbk0crn.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
<div class="layout-978">
  <div id="header_row" class="row">
    <div class="col3">
      <a href="/"><img src="images/logo.jpg" width="200" height="142" alt="Ignite Baltimore Logo"></a>
    </div>
    <div id="header_text" class="col9">
      <h1>Ignite Baltimore #10 returns in September 2012</h1>
      <div id="top_links" class="row">
        <div class="col8">
          <a href="about">ABOUT</a>
          <a href="speaking">SPEAKING</a>
          <!--<a href="grant">GRANT</a>-->
          <a href="http://youtube.com/ignitebaltimore">VIDEOS</a>
          <a href="http://www.flickr.com/photos/ignitebaltimore/sets/">PHOTOS</a>
          <a href="mailing_list">MAILING LIST</a>
          <a href="contact">CONTACT</a>
        </div>
        <div class="row-end">&nbsp;</div>
      </div>
    </div>
    <div class="row-end">&nbsp;</div>
  </div>

  {{ content }}

  <p id="footer" class="row">
  Want to help make this site look awesome? It's an <a href="https://github.com/ignitebaltimore/ignitebaltimore.github.com">open source project on GitHub</a>. Fork it and hack on it, then we'll pull your changes in and credit you here.
  </p>
</div>
<script type="text/javascript">
  var _gaq=[['_setAccount','UA-9222451-1'],['_trackPageview'],['_trackPageLoadTime']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
</body>
</html>
